img {
  margin: 0
}

p {
  text-align: justify;
  margin: 0;
}

figcaption {
  font-size: .8375rem;
  text-align: center;
}

/* Article Styles
/* ---------------------------------------------------------- */

article > section > p {
  line-height: 1.75rem;
  margin-bottom: 1.45rem;
}
